footer {
  background-color: #d4a373;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1.5rem 0;
  list-style-type: none;
}

.logo {
  padding: 0 2rem 1rem 2rem;
}

.footer-socials li a {
  color: #111;
  text-decoration: none;
}

.footer-socials li a:hover {
  color: #3e3e3e;
  text-decoration: none;
}

@media (min-width: 700px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
  }
}

.footer-socials {
  flex-grow: 2;
  font-size: 0.8rem;
}
.logo {
  flex-grow: 1;
}
