footer {
  background-color: #d4a373;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
  list-style-type: none;
}

.logo {
  padding: 0 0 1rem 0;
}
