header {
  background-color: #e9edc9;
  margin: 0rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.menu-container {
  display: flex;
  flex-grow: 2;
}

.head-logo {
  padding: 0.5rem 0;
}

.vertical-line {
  display: none;
}

header > h3 {
  margin-left: 1rem;
}

header .custom-logo {
  width: 150px;
  height: 150px;
}

header .menu-container .main-menu {
  display: flex;
  padding: 0 0;
}

header .menu-container .main-menu li {
  margin: 0 1rem;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  list-style-type: none;
}

header .menu-container .main-menu li:hover {
  background-color: #faedcd;
  border-radius: 0.5rem;
  font-weight: bold;
}

header .menu-container .main-menu li a {
  text-decoration: none;
  color: #111;
}

.vertical-line {
  margin: 0 1.5rem;
  border-left: 2px solid #111;
  height: 50px;
  max-height: 70%;
}

@media (min-width: 700px) {
  header {
    flex-direction: row;
  }
  .vertical-line {
    display: inline-block;
  }
}
